<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul class="list-disc">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-sm text-red-600"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
